body {
  background-color: black;
  text-align: center;
}
.header--main {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: white;
}
.link--cta {
  color: Aquamarine;
  font-size: 16px;
}
